@font-face {
  font-family: "SF mono";
  src: url(./font/sf-mono-cufonfonts-webfont/SFMonoMedium.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  font-family: SF mono;
  height: 100%;
  width: 100vw;
  overflow-Y: hidden;
}
main {
  padding: 0 150px;
  max-width: 1600px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
/* .start {
  overflow-x: hidden;
} */

.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.presentation-content {
  margin: 200px 0 0 100px;
}
.presentation h1 {
  color: #64ffda;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.presentation h2 {
  color: #ccd6f6;
  font-size: 50px;
  margin-bottom: 10px;
}
.presentation h3 {
  color: #8892b0;
  font-size: 40px;
  margin-bottom: 10px;
}
.presentation p {
  color: #8892b0;
  margin-top: 50px;
}
#nom {
  color: #64ffda;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: nom 4s ease-in-out, logo-opa 0.2s ease-in 3.5s forwards;
}

.icone {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logo-opa 0.2s ease-in 3.5s forwards;
  
}

.icone path:nth-child(1) {
  /* ******************Creation du dasharray*************** */
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  animation: anim 2s ease-in-out forwards;
}
/* *********************************************** */
header {
  height: 100px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo {
  width: 100px;
}
.logo a svg {
  width: 50%;
  margin-left: 40px;
  position: relative;
  top: 0px;
  left: -100px;
  transform: translateX(100px);
  transition: transform 0.5s 4s ease-in;
}

.logo a,
.button-resume a {
  color: #64ffda;
  text-decoration: none;
}
.button-resume a {
  font-size: 0.8em;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #64ffda;
}
.button-resume {
  display: flex;
  margin-right: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100px;
  transform: translateY(100px);
  transition: transform 0.5s 4.4s ease-in;
}
.menu {
  color: #64ffda;
  width: 100%;
  display: flex;
  align-items: center;
}
.menu ol {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 0.8em;
}
.menu li a {
  color: #a8b2d1;
  text-decoration: none;
}
.menu li a:hover {
  color: #64ffda;
}
.menu li {
  margin-left: 30px;
  margin-right: 30px;
}
.menu li:nth-child(1) {
  position: relative;
  top: -100px;
  transform: translateY(100px);
  transition: transform 0.5s 4s ease;
}
.menu li:nth-child(2) {
  position: relative;
  top: -100px;
  transform: translateY(100px);
  transition: transform 0.5s 4.1s ease-in;
}
.menu li:nth-child(3) {
  position: relative;
  top: -100px;
  transform: translateY(100px);
  transition: transform 0.5s 4.2s ease-in;
}
.menu li:nth-child(4) {
  position: relative;
  top: -100px;
  transform: translateY(100px);
  transition: transform 0.5s 4.3s ease-in;
}
.left-social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.left-social li {
  list-style: none;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.leftsocial a {
  display: flex;
  flex-direction: column;
}
.left-social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: #a8b2d1;
}
.right-mail {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-mail::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: #a8b2d1;
}
.right-mail a {
  writing-mode: vertical-rl;
  color: #a8b2d1;
  text-decoration: none;
  margin: 20px auto;
  padding: 10px;
  font-size: 0.8em;
}

.left-social, .right-mail, .presentation, main  {
  animation: fixed-opa 1s ease-in 4.3s forwards;
  opacity: 0;
}
@keyframes fixed-opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes nom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-opa {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

